@media print {
    @page {
      size: A6 landscape;
    }
    body {
        margin: 0;
        padding: 0;
        font-size: 12pt;
      }
  }
.container {
    display: grid;
    padding: 5rem;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1fr;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
  }
  
  .header,
  .footer {
    display: flex;
    justify-content: space-between;
  }
  
  .items {
   display: flex;
   padding: 30px;
   flex-direction: column;
  }
  
  .item {
    display: flex;
    flex-direction: row-reverse;
    row-gap: 100px;
    padding: 15px;
    border: 1px solid black;
    justify-content: space-between;
  }
  
  .itemName {
    font-weight: bold;
  }
  .itemName::before {
    content: '';
    border-left: 1px solid black;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .itemPrice {
    text-align: right;
  }
  
  .total {
    font-weight: bold;
  }
  