body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.header h1 {
  font-size: 1.5rem;
}
.header div h2 {
  font-size: 1rem;
  font-weight: bold;
  color: #2a65c9;
  margin: 10px;
  padding: 0px;
}

.header div img {
  width: 100px;
}

.date {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-bottom: 3px;
}

.date span {
  font-size: 1rem;
  font-weight: bold;
  color: #2a65c9;
}

.fields-container {
  display: flex;
  flex-direction: column;
  
}
.field-container {
  height: 25px;
  margin: 2px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid black;
  border-radius: 1rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.lable {
  flex-grow: 1;
  width: 150px;
  max-width: 150px;
  height: 25px;
  border: 1px solid #34bdeb;
  text-align: center;
  
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 1;
  background-color: #34bdeb;
}
.value {
  height: 25px;
  flex-grow: 4;
  flex-shrink: 1;
  text-align: center;
  
  box-sizing: border-box;
}

.address {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
}

.address span {
  font-size: 1rem;
  font-weight: bold;
  color: #2a65c9;
}

.signiture {
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.signiture span {
  margin-top: 5px;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Styles for A6 paper in landscape mode */

@media print and (width: 148mm) and (height: 105mm) {
  body {
    width: 148mm;
    height: 105mm;
    margin: 0;
    padding: 0;
  }
}

@media print {
  @page {
    size: landscape;
    margin: 0;
  }
  * {
    -webkit-print-color-adjust: exact !important;
    -moz-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}

