.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 500px) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }
    .form-container {
        border-bottom: 1px solid #A8A8A8;
        margin-right: 1rem;
        @media (max-width: 500px) {
            display: flex;
            flex-direction: column;
            margin: 1rem;
          }
        
        
        .date {
            border: 0px;
            padding: 0rem 1rem;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            // line-height: 19px;
            // display: flex;
            // flex-wrap: nowrap;
            // align-items: center;
            // text-align: center;
        }
    }
    
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    padding: 1rem 2rem;
    .card {
        width: 220px;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        padding: 1rem;
        span {
            font-size: 1.5rem;
            font-weight: bold;
        }
        .card-upper-part {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    .sky-blue {
        background: #D3F7FF;
        box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);
    }
    .pink {
        background: #FF9696;
        box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 5px 5px 0px rgba(0,0,0,0.75)
    }
}

.bar-chart-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    .bar-chart {
        background-color: white;
        overflow: scroll;
        max-width:80%;
        height: 400px;
    
        @media (max-width: 500px) {
          max-width:90%;
          height: auto;
        }
      }
}
