.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  
    .scssClass {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px 20px;
      z-index: 50;
      box-shadow: 0px 2px 20px rgba(3, 47, 124, 0.1);
      background-color: #fff;
      .hamberger-icon {
        img {
          width: 30px;
          height: 48px;
        }
      }
      h3 {
        color: rgb(207, 25, 25);
        font-family: sans-serif;
        margin-bottom: 0%;
      }
    }
    .body {
      display: flex;
      align-items: stretch;
      flex-grow: 1;
      background: #f6f6f6;
     
    }
    .sidebar-container {
      max-height: calc(100vh - 58px);
      display: flex;
      flex-direction: column;
    }
    .main-container {
      max-height: calc(100vh - 58px);
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding-top: 20px;
    img {
      width: 100px;
    }
  }
  .logout-logo{
    width: 20px;
  }

  
  