.container {
    position: relative;
    overflow-x: scroll;
    .plus-sign {
        position: fixed;
        bottom: 25px;
        right: 50px;
        button {
            border: none;
            background: none;
            width: 50px;
            padding: 0;
            margin: 0;
            cursor: pointer;

            img {
                display: block;
                width: 100%;
                height: 100%;
                background: rgb(13,110,253);
                border-radius: 25px;
                transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, height 0.4s ease-in-out;
                transform-origin: center center;
            
                &:hover {
                  transform: scale(2) rotate(180deg);
                  
                }
            
                &:not(:hover) {
                  transition-delay: 0.3s;
                  transform: scale(1) rotate(0);
                  width: 100%;
                  height: 100%;
                }

            }
        }
    }
}

// search bar
.dropdown {
  border: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  &:focus {
    outline: none;
  }
  padding-left: 10px;
  margin-right: 10px;
  @media (min-width: 400px) {
    margin-right: 5px;
  }
}




.search-container{
  display: flex;
  align-items: stretch;
  border: 0px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  
    .search-input {
      border-radius: 5px;
      flex-grow: 1;
      border: none;
      &:focus {
        outline: none;
      }
    }
    
    .search-icon {
      border-radius: 5px;
      padding: 5px;
      background-color: white !important;
      border: none;
  
  }}

/////////////


@keyframes wobble {
    0% {
      transform: rotate(180deg);
      transform: scale(1);
    }
    100% {
      transform: rotate(0deg);
      transform: scale(2);
    }
  }
